.titulos {
    color : black;
    text-align: center;
    font-family: 'thabitregular';
    font-style: normal;
    font-weight: 500;
    font-size: 100px;
    line-height: 130px;
}
.legenda {
    
    font-family: 'thabitregular';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    align-items: center;
    text-align: center;
    }