body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #fbfbf8;
    width: 100% !important;
    height: 100% !important;
    overflow-x: hidden!important;
}

.logoCaleidoscopio {
    margin: 50px;
    top: 56px;
}

.header{
    width: 100%;
  }

#icone {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    margin-top: 98px;
}

.addIcon {
    margin-top: 50px;
    margin-right: 30px;
    font-size: 90px;
}

.pictureIcon {
    font-size: 200px;
}

#formulario {
 display: block;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    margin-top: 50px;
}

.fieldsetForm1 {
    font-family: 'unnaregular';
    font-style: normal;
    font-weight: 520;
    font-size: 24px;
    line-height: 27,65px;
    color : black;

    margin: 50px auto;
    margin-bottom: 25px;
    padding: 25px;
    width: 40%;
    border-radius: 4px;
    border: 1px solid #000000;
    box-sizing: border-box;
}

.fieldsetForm2 {
    font-family: 'unnaregular';
    font-style: normal;
    font-weight: 520;
    font-size: 24px;
    line-height: 27,65px;
    color : black;

    margin: 50px auto;
    margin-bottom: 25px;
    padding: 25px;
    width: 40%;
    border-radius: 4px;
    border: 1px solid #000000;
    box-sizing: border-box;
}

.tituloInput {
    padding:5px; 
    border:2px solid #ccc; 
    -webkit-border-radius: 5px;
    border-radius: 5px;
    height: 30px;
    width: 400px;
    font-size: 30px;
}




.descricaoInput {
    padding:5px; 
    border:2px solid #ccc; 
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-size: 20px;
    resize: none;
}



input[type=submit] {
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;

    background-color: white; 
    color: black; 
    border: 2px solid rgb(73, 73, 73);
    width: 145px;
    height: 63px;
    margin: 15px;
    
    justify-content: center;
}

input[type=submit]:hover {
    background-color:rgb(0, 0, 0);
    color: white;
 }

 
#MotherUploadTag {
    width: 100%;
    justify-content: center;
    margin: 4rem auto;
    text-align: center;
    display: flex;
}

.botaoUpload {    
    margin-top: 1.2rem;
    font-size: 1.2rem;
    display: flex;
    text-align: center;
    margin-right: 5rem;
}

.botaoSelect {
    vertical-align: middle;
    margin-top: 1.2rem;
    font-size: 30px;
    display: flex;

    text-align: center;
 
}

.projeto {
    margin-top: 2rem;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 24px;
    color: rgb(0, 0, 0);
    
}

label {
  width: 10rem;
  background-color: black;
  color: white;
  padding: 20px;
  font-family: sans-serif;
  border-radius: 6rem;
  cursor: pointer;
  font-size: 1.2rem;
}

#file-chosen {
    margin-left: 15px;
    margin-right: 30px;
    font-size: 1.4rem;
    font-family: 'Times New Roman', Times, serif;
    vertical-align: middle;
    margin-top: 20px;
}

select {
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0);
    font-size: 1.1rem;
    padding: 0.5em 1.5em;
    background-color: black;
    color: white;
}


 .rodape {
    width: 100%;
    height: 250px;
    margin-top: 400px;

    background-color: wheat;
}