* {
    margin: 0;
    padding: 0;
    font-size: 100%;
    box-sizing: border-box;
    font-family: 'thabitregular';
}
body{
    width: 100%;
    height: 100%;
    margin:0;
    background-color: #fbfbf8;
}
.titulo {
    color : black;
    text-align: center;
    font-family: 'unnaregular';
    font-style: normal;
    font-weight: 500;
    font-size: 6.25em;
    line-height: 80px;
    color: black;
    margin-top: 125px;
  }
.wrapper{
    width: 800px;
    margin: 5% auto;

}
.formulario {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    padding: 1.9em;
    justify-content: center;
}
.area-cadastro{
    flex: 1;
}
.area-cadastro legend {
    display:flex;
    justify-content: left;
    font-family: 'unnaregular';
    font-style: normal;
    font-weight: 520;
    font-size: 1.5em;
    color : black;

}
.area-cadastro input{
    display: flex;
    padding:5px; 
    border:2px solid #ccc; 
    -webkit-border-radius: 5px;
    border-radius: 5px;
    height: 30px;
    width: 100%;
    font-size: 1.5em;
    margin-bottom: 20px;
}
form button{
    border: 0;
    padding: 16px 32px;
    border-radius: 15px;
    font-size: 1.25em;
    color: black;
    text-align: center;
    text-decoration: none;
    transition-duration: 0.4s;
    cursor: pointer;
    border: 2px solid rgb(73, 73, 73);
    justify-content: center;

}
form button:hover{
    background-color: black;
    color: white;
}
.senha-olho{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.senha-olho img:hover{
    cursor: pointer;
}
  /* HEADER */
  header {
    background-color:#fbfbf8;;
    width: 100%;
    position: absolute;
    top:0;
    left:0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* MENU */
.btn-menu {
    width: 56px;
    height: 56px;
    text-align: center;
    color : #ffffff;
    border-radius: 56px;
    cursor: pointer;
    background : black;
    margin : 2%;
}
.btn-close {
    font-size: 3em;
    width: 56px;
    height: 56px;
    color: #000000;
    float: right;
    cursor:pointer;
    text-align: center;
    align-items: center;
    margin: 2%;
    border-radius: 56px;
    background-color: #ffffff;
    
}
.menu {
    display: none;
    height: 100%;
    width: 100%;
    position: fixed;
    background-color: #000000;
    top : 0;
    left: 0;
    text-align: center;
}
.menu .container{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100%;
    width: 100%;
}
.right{
    height: 100%;
    display: grid;
    grid-template-rows: repeat(6, 80px);
    text-align: left;
    grid-template-columns: none;
}
.menu .itens {
    transition: .5s;
    align-self: center;
    padding:1%;
    color: #ffffff;
    font-size: 3em;
    text-decoration:none;
    font-family: 'thabitbold';
}
.menu .right:hover .itens {
    opacity: 0.4;
    filter: blur(2px);
}
.menu .right .itens:hover{
    padding-left: 2%;
    opacity: 1;
    filter: blur(0px);
}
@media(max-width: 800px){
    .menu .container{display: block;}
    .right {text-align: center;} 
    .menu .itens {font-size: 2.2em;}
}