body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #fbfbf8;
    width: 100% !important;
    height: 100% !important;
    overflow-x: hidden!important;
}

body::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
  }

header {
  background-color:#fbfbf8;;
  width: 100%;
  position: absolute;
  top:0;
  left:0;
  display: flex;
  justify-content: end;
  align-items: center;
}

.LogoCaleidoscopio {
    position: absolute;
    left: 45px;
    top: 45px;
}


.btn-menu {
    width: 56px;
    height: 56px;
    text-align: center;
    color : #ffffff;
    border-radius: 56px;
    cursor: pointer;
    background : black;
    margin : 2%;
}
.btn-close {
    font-size: 3em;
    width: 56px;
    height: 56px;
    color: #000000;
    float: right;
    cursor:pointer;
    text-align: center;
    align-items: center;
    margin: 2%;
    border-radius: 56px;
    background-color: #ffffff;
    
}
.menu {
    display: none;
    height: 100%;
    width: 100%;
    position: fixed;
    background-color: #000000;
    top : 0;
    left: 0;
    text-align: center;
}
.menu .container{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
}
.right{
    height: auto;
    display: grid;
    grid-template-rows: repeat(6, 80px);
    text-align: left;
    grid-template-columns: none;
}
.menu .itens {
    transition: .5s;
    align-self: center;
    padding:1%;
    color: #ffffff;
    font-size: 3em;
    text-decoration:none;
    font-family: 'thabitbold';
}
.menu .right:hover .itens {
    opacity: 0.4;
    filter: blur(2px);
}
.menu .right .itens:hover{
    padding-left: 2%;
    opacity: 1;
    filter: blur(0px);
}

.titulo {
    color : black;
    font-family: 'unna';
    font-style: normal;
    font-weight: 200;
    font-size: 5em;
    line-height: 130px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top:15px;
    flex-basis: 100%;
}

.collapsible {
    background-color: #FFDC2A;
    color: black;
    cursor: pointer;
    padding: 30px;
    width: 100%;
    border-radius: 1.8rem;
    border-color: #ffffff;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none;
    font-size: 20px;
    align-items: center;
  }
  .collapsible-wrapper{
      padding-left: 5%;
      padding-right: 5%;
      margin-bottom: 8rem;
  }
  
  .active, .collapsible:hover {
    background-color: #fba31a
  }
  
  .content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
    border-radius: 1.8rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
  }
  footer{
    background-image: url(../PaginaInicial/Imagens/rodapeCaleidoscopioVazio.png);
    background-position: 0% 100%;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    padding: 50px 50px;
    width: 100%;
    height: auto;
    padding-top:350px;
    box-sizing: border-box;
  }
  footer .container {
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    margin: 0 auto;
    
  }
  .container .social-area{
    display: grid;
    grid-column: 1/3;
    display: block;
    align-items: center;
  }
  .redes-sociais {
    margin-top: 20px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 50px);
    justify-content: center;
  }
  .redes-sociais li{
    list-style:none;
  }
  .redes-sociais li a {
    display: inline-block;
    width: 48px;
    height: 48px;
    display: grid;
    align-content: center;
    justify-content: center;
    text-decoration: none;
  }
  .redes-sociais li a .fab{
    color: #000000;
  }
  .redes-sociais li a .fab:hover{
    color: #000000;
    opacity: 0.6;
  }
  .container .logoCaleidoscopio{
    object-fit: cover;
    width: 180px;
    height: 180px;
    margin-top: 40px;
  }
  .logoNac{
    object-fit: cover;
    width: 180px;
    height: 180px;
    margin-top: 40px;
  }
  footer hr{
    margin: 0 auto;
  }
  .links {
    display: grid;
    align-content: center;
    
  }
  footer .links ul{
    align-content: center;
    align-items: center;
  }
  footer .links ul li{
    list-style: none;
  }
  footer .links ul li a{
    font-weight: bold;
    text-decoration: none;
    color: #000000;
    margin-bottom: 10px;
    display: inline-block;
  
  }
  footer .links ul li a:hover{
    opacity: 0.5;
  }
  .quadro {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  
  }
  .quadro .quote{
    position: absolute;
    grid-column: 1/4;
    grid-row: 2;
  
  }
  .quadro .quote q{
    font-weight: bold;
    font-size: 1.25em;
    
  }
  .quadro p{
    font-size: 1em;
    grid-column: 2/4;
    grid-row: 3 ;
    text-align: right;
  
  }
  .copyright{
    width: 100%;
    background: #fcefa2;
    padding: 8px 100px;
    text-align: center;
    color: #000000;
    box-sizing: border-box;
  
  }
  @media (max-width: 800px){
    footer .container {grid-template-columns: 1fr 1fr; width: 90%;}
    footer hr {display: none;}
    .quadro {display:none}
    footer .links {grid-column: 1/3;}
    footer .links ul { text-align: center;grid-template-columns: repeat(4, 90px); display: grid; align-content: center; justify-content: center; text-decoration: none;}
  }
  