* {
    margin: 0;
    padding: 0;
    font-size: 100%;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: 'thabitregular';
}
body::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}
body {
    width: 100%;
    height: 100%;
    margin: 0;
}
/*BLOCOS*/
.bloco{
    display:flex;
    flex-direction: row;
    flex-wrap:nowrap;
    justify-content:space-around;
    align-items: center;
    background-color: #CE7D7D;
    opacity: 1;
    height:fit-content;
    padding: 30px;
}
.bloco .texto1{
    color:black;
    font-family:'Unna';
    font-style:normal;
    font-weight:normal;
    font-size: 1.5em;
    justify-content: end;
    max-width: 400px;
    display: flex;
    
    
}
.subtitulo-esquerda{
    font-family: 'thabitregular';
    font-style: normal;
    font-weight: 500;
    font-size: 6.25em;
    line-height: 130px;
    text-transform: uppercase;
    margin-left: 9%;
}
.imagem {
    display: flex;
    height: 474px;
}
@media (max-width: 700px){
    .bloco {flex-direction: column;}
    .imagem {height: 300px;}
}

/*CABEÇALHO*/
.cabeçalho{ 
    display: flex;
    margin-bottom: 350px;
    margin-top: 150px;
    justify-content: center;
    align-items: center;
    flex-direction: row;


}
.gifFofo{
    display: flex;
}
.gifFofo2{
    display: flex;
}
.titulos {
    color : black;
    font-family: 'thabitregular';
    font-style: normal;
    font-weight: 500;
    font-size: 7.5em;
    line-height: 130px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top:15px;
    flex-basis: 100%;
}
.legenda {
    font-family: 'thabitregular';
    font-style: normal;
    font-weight: bold;
    font-size: 1.5em;
    line-height: 32px;
    text-align: center;
    margin-top: 5px;
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
}
.titulo-legenda {
    display: flex;
    flex-flow: column;
}
@media (max-width: 700px){
    .titulos {font-size: 5em;}
    .legenda {font-size: 1em;}
    .gifFofo {opacity: 0;}
    .gifFofo2 {opacity: 0;}
}


footer{
width: 100%;
height: 300px;
bottom: 0px;
}

/* HEADER */
header {
    background-color:#fbfbf8;;
    width: 100%;
    position: absolute;
    top:0;
    left:0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* MENU */
.menu {
    display: none;
    height: 100%;
    width: 100%;
    position: fixed;
    background-color: #000000;
    top : 0;
    left: 0;
    text-align: center;
}
.btn-menu {
    width: 56px;
    height: 56px;
    float: right;
    text-align: center;
    color : #ffffff;
    border-radius: 56px;
    cursor: pointer;
    background : black;
    margin : 2%;
}
.btn-close {
    font-size: 3em;
    width: 56px;
    height: 56px;
    color: #000000;
    float: right;
    cursor:pointer;
    text-align: center;
    margin: 2%;
    border-radius: 56px;
    background-color: #ffffff;

}
.menu ul{
    width: 100%;
    float: left;
    text-align: center;
}
.menu li{
    padding:1%;
}
.menu li a {
    color: #ffffff;
    font-size: 3em;
    text-decoration:none;
    font-family: 'thabitbold'
}
.menu li a:hover{
    padding-left: 2%;
}

/*BANNER*/
.banner {


}