body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    }

.blocos {
    background-color: #CE7D7D;
    opacity: 1;
    height: 450px;
}
.bloco2 {
    background-color:#F8EB7E ;
    opacity: 1;
    height: 450px;
}
.bloco3{
    background-color: #97D382;
    opacity: 1;
    height: 450px
}
.orientaçaoCont{ 
    align-content: center;
}
.gifFofo{
    position:absolute;
    top: 5px;
    left: 155px;
}
.gifFofo2{
    position:absolute;
    top: 5px;
    right: 155px;
}
.cabeçalho{ 
    margin-bottom: 350px;
}
.titulos {
    color : black;
    text-align: center;
    font-family: 'thabitregular';
    font-style: normal;
    font-weight: 500;
    font-size: 120px;
    line-height: 130px;
    margin-bottom: 5px;
}
.subtitulo1 {
    color : black;
    position: relative;
    text-align:left;
    font-family: 'thabitregular';
    font-style: normal;
    font-weight: 500;
    font-size: 100px;
    line-height: 130px;
    text-transform: uppercase;
    margin-left: 150px;
}
.subtitulo2 {
    color : black;
    position: relative;
    text-align:right;
    font-family: 'thabitregular';
    font-style: normal;
    font-weight: 500;
    font-size: 100px;
    line-height: 130px;
    text-transform: uppercase;
    margin-right: 200px;
}
.subtitulo3 {
    color : black;
    position: relative;
    text-align:left;
    font-family: 'thabitregular';
    font-style: normal;
    font-weight: 500;
    font-size: 100px;
    line-height: 130px;
    text-transform: uppercase;
    margin-left: 150px;
}
.legenda {
    font-family: 'thabitregular';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    align-items: center;
    text-align: center;
}
.texto1{
    color:black;
    font-family:'Unna';
    font-style:normal;
    font-weight:normal;
    font-size: 20px;
    position: absolute;
    height: 275px;
    left: 1053px;
    right: 150px;
    top: 990px;
}
.texto2{
    color:black;
    font-family:'Unna';
    font-style:normal;
    font-weight:normal;
    font-size: 20px;
    position: absolute;
    height: 275px;
    left: 100px;
    right: 1100px;
    top: 1700px;
}
.texto3{
    color:black;
    font-family:'Unna';
    font-style:normal;
    font-weight:normal;
    font-size: 20px;
    position: absolute;
    height: 275px;
    left: 1053px;
    right: 150px;
    top: 2430px;
}
.conteudo{
    font-family: 'unnaregular';
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 55px;
    position: absolute;
    margin-left: 50%;
}


#dancart{
position: absolute;
left: 5%;
right:80%;

}

footer{
    width: 100%;
    height: 300px;
    bottom: 0px;
}

/*
.redes-sociais ul li{
    display: inline-block;
    float:left;

}*/