

.titulos1 {
    color : black;
    text-align: center;
    font-family: 'thabitregular';
    font-style: normal;
    font-weight: 500;
    font-size: 100px;
    line-height: 130px;
}

#instagram {
    position: absolute;
left: 12.98%;
right: 84.99%;
top: 38.26%;
bottom: 51.62%;
}

#twitter{

    position: absolute;
left: 22.66%;
right: 75.31%;
top: 38.26%;
bottom: 51.62%;

}

#youtube {
position: absolute;
left: 17.82%;
right: 80.15%;
top: 38.26%;
bottom: 51.62%;

}
