.titulos1 {
    color : black;
    text-align:left;
    font-family: 'thabitregular';
    font-style: none;
    font-weight: 500;
    font-size: 100px;
    line-height: 130px;
    text-transform: uppercase;
}
.legenda {
    font-family: 'thabitregular';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
}
.subtitulo {
    color : black;
    text-align:left;
    font-family: 'thabitregular';
    font-style: none;
    font-size: 70px;
}
.body {
    width: 100%;
    height: 100%;
    margin: 0 auto!important;
    padding: 50px!important ;
}
.conteudo {
    position: absolute;
    width: 514px;
    height: 700px;
    left: 1310px;
    top: 811px;
    background: #E2E1E1;
}

